.pandamusrex-next-full-moon-big-text {
    margin-top: 0.5em;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0.5em;
}

.pandamusrex-next-full-moon-sub-text {
    text-align: center;
}

